.ThankyouPage{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    transform: scaleX(-1);
}

.video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}