.Summary{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.68),
                -1px -1px 1px #000;
    position:absolute;
    top: 2%;
    margin-left: 2vw;
    font-weight: bold;
    color: rgb(111,111,111,1);

}

.cartcheckout{
    position:relative;
    width: 30vw;
    height: 60vh;
    margin-top: 3vh;
    margin-right: 2vh;
    margin-left: 2vh;
    background-color: rgb(111,111,111,0.68);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.Total{
    position: absolute;
    color: white;
    top: 15%;
    margin-left: 2vw;
}

.ShippingFee{
    position: absolute;
    color: white;
    top: 40%;
}

.checkoutButton{
    position: absolute;
    color: white;
    width: 75%;
    height: 8%;
    left: 12.7%;
    bottom:-96%;

}

.checkoutButton:hover {
    color: black;
}



