.fuji-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;
    height: 15vh;
}
.h6{
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    background-color: black;

}

.footer-items{
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-content: center;
    background-color: black;
}

.footer-items li{
    font-size: 0.5rem;
    margin-right: 3px;
}