*{
    margin: 0;
    padding: 0;
}
/*LoginBackground*/
.LoginPageContainer {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-items: center;*/
    height: 100vh;
    background-image: url('src/ui/img/Background/Login/Login.jpeg');
    background-size: cover;
    background-position: center center;
}





