.menu-container {
    position: relative;
    border: none;
    z-index: 999;

}

.menu-icon {
    cursor: pointer;
    align-content: flex-end;
    display: flex;
    justify-content: flex-end;
    color: rgb(111,111,111);
    /*margin-top: 3px;*/
    margin-right: 11px;
}

.menu-items {
    /*margin-top: 3px;*/
    display: none;
    position: fixed;
    top: 0;
    right: -200px; /* 起始位置在右側，距離右邊界 200px */
    width: 90px; /* 設置菜單的寬度 */
    background-color: rgb(111,111,111,0);
    padding: 10px;
    list-style: none;
    border: none;
    text-align: left;
    transition: right 1s ease; /* 添加過渡效果 */
    text-transform: none;
    margin-right: 10px;

}

/* 當菜單顯示時，將其移動到畫面內 */
.menu-items.active {
    right: 0;
}

.menu-items li {
    margin-bottom: 10px;
}

.menu-items li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.menu-items li a:hover {
    color: white; /* Set the text color to blue when hovering */
    text-shadow: 0 0 30px rgba(250, 245, 246, 1); /* Add a glowing effect */
    transition: text-shadow 0.4s; /* Add transition for smooth animation */
}

    /* 鼠標懸停在菜單圖標上時顯示菜單 */
.menu-container:hover .menu-items {
    display: block;
}