*{
    background-color: rgba(0, 0, 0,0);
}
.menu-container{
    display: flex;
    background-color: rgba(0, 0, 0,0);
    justify-content: right;
    flex-direction: row;
    height: 2.5%;
    padding-right: 1vh;
    color: rgba(133,133,133,0.75);
    text-shadow:
            1px 1px 1px rgba(255, 255, 255, 0.6),
            -0.7px -0.7px 1px rgba(133, 133, 133, 0.64);
    z-index: 999;
}

.menu-container:hover {
    text-shadow:
            0 0 30px rgba(250, 245, 246, 1);
}

.li-container{
    background-color: rgba(0, 0, 0,0);
}

.navbar {
    position: absolute;
    background-color: rgba(0, 0, 0,0);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 115vh;
    z-index: 999;
}

.nav-list {
    font-size: 700%;
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-color: rgba(163, 163, 163,0.3);
    height: 115vh;

}

.nav-item {
    background-color: rgba(163, 163, 163,0);

}

.nav-item a {
    text-decoration: none;
    color: #fff;
    background-color: rgba(163, 163, 163,0);
}

.nav-item a:hover {
    color: white;
    text-shadow: 0 0 30px rgba(250, 245, 246, 1);
}

.menu-items.active{
    display: block;
}

.menu-items{
    display: none;
    border: none;
    text-align: left;
    background-color: rgba(163, 163, 163,0.3);
}

.menu-content-open{
    color: rgba(0,0,0,0);
    background-color: rgba(163, 163, 163,0.3);
    height:0;

}

