.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Quantity-box{
    display: flex;
    justify-content: center;
    color: white;
    min-width: 18px;
    max-width: 18px;
}